.circle {
  outline: none;
  border: none;
  background: transparent;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: relative;

  display: flex;
  margin: 30px 0 0px auto;
  transition: all 0.5s ease-in-out;
  @media(any-hover: hover) {
    &:hover {
      transition: all 0.5s ease-in-out;
      background: #C4C4C4;

      & .circle__text{
        transition: all 0.5s ease-in-out;
        color: #212121;
      }
    }
  }
  @media(min-width: 768px) {
    width: 165px;
    height: 165px;
    margin: 0;
  }

  &--red {
    background: #D40C21;
  }

  &--black {
    background: #212121;
  }
  &--popup{
    margin-top: 30px;
    margin-left: auto;
    @media(min-width: 768px){
      margin-top: 50px;
    }
  }
  &__text {
    font-family: "Akzidenz-Grotesk Pro-Md", sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: center;
    text-transform: uppercase;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-33deg);
    transition: all 0.5s ease-in-out;



    @media(min-width: 768px) {
      font-size: 16px;
      line-height: 20px;
    }

    &--white {
      color: #ffffff;
    }
    &--mod{
      width: 100%;
      max-width: 99px;
    }
    &--popup{
      width: 100%;
      max-width: 117px;
    }
  }
  &--mod{
    margin-top: 45px;
    margin-left: auto;
  }
  &--fatal{
    margin-left: auto;
  }

}